{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <div id="page-error" class="wrapper-page">
        <div class="text-center">
            <a href="" class="logo"><span>Indicateur TV</span></a>
        </div>

        <div class="m-t-40 card-box">
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Erreur 500 (Internal Server Error)</h4>
            </div>

        </div>
        <!-- end card-box-->


    </div>
{% endblock fos_user_content %}
